[submodule ".vim/bundle/vim-slim"]
	path = .vim/bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-pug"]
	path = .vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule ".vim/bundle/vim-es6"]
	path = .vim/bundle/vim-es6
	url = https://github.com/isRuslan/vim-es6.git
[submodule ".vim/bundle/vim-solidity"]
	path = .vim/bundle/vim-solidity
	url = https://github.com/tomlion/vim-solidity.git
