#!/usr/bin/env bash
set -eou pipefail

script=~/Applications/mounter/fusion.mount
[ -f $script ] && $script || {
	echo "Script \"$script\" not found!"
	exit 1
}
